<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"/>
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h2>User</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Department</th>
    </tr>
        <tr>
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getSurname()}"></td>
            <td th:text="${user.getDepartment()}"></td>
        </tr>
</table>
<br>
<form th:method="GET" th:action="@{/users/{id}/update(id=${user.getId()})}">
    <input type="submit" value="Update">
</form>
<br>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>